*{
  margin: 0;
  padding: 0;
}

.homepage-container{
 margin-left: 8vw;
 margin-right: 8vw;
 margin-top: 5vh;
 border: solid 2px rgb(194, 194, 194);
 padding-top: 20px;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 column-gap: 1.5vw;
 row-gap: 1.5vw;
}

.restaurant-card:hover{
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(149, 149, 149, 0.5),
  0 -2px 4px rgba(149, 149, 149, 0.5),
  2px 0 4px rgba(149, 149, 149, 0.5),
  -2px 0 4px rgba(149, 149, 149, 0.5);
}

.restaurant-details{
  display: flex;
  justify-content: space-between;
}

.single-page-container{
  background-color: white;
  display:flex;
  justify-content: center;
  padding-top: 5vh;
}